*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background-color: wheat;
    justify-content: center;
    position: relative;
    align-items: center;
}
@media screen and (max-width:1000px){
    html{
        font-size: 1.5vw;
    }
}
#card{
    background-color: whitesmoke;
    width: 45rem;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    top: 4rem;
    bottom: 4rem;
}
#card div{
    margin: 2rem;
}
#card hr{
    width: 35rem;
}
#recipe_img img{
    width: 40rem;
    
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
}
#dish_name b{
    font-family:'Times New Roman' ;
    font-size: 2rem;
}
#dish_name p{
    margin-top: 1rem;
}
#time{
    width: 40rem;
    background-color: #f6d7e9;
    font-family: sans-serif;
    padding: 1.5rem;
    border-radius: 15px;
}
#time h3{
color: #58243c;
}
#time li{
    margin: 0.8rem;
    margin-left: 1.5rem;
    padding-left: 0.7rem;
}
.making_of_dish{
    width: 40rem;
}
.making_of_dish h3{
    font-size: 2rem;
    color: #7d3f1b;
    margin-bottom: 1rem;
}
.making_of_dish li{
    font-family:sans-serif ;
    padding: 0.2rem;
    margin-left: 1.4rem;
    padding-left: 0.8rem;
    line-height: 1.5rem;
    
}
.making_of_dish p{
    margin: 1rem;
    margin-left: -0.3rem;
}
.making_of_dish table{
    width: 35rem;
    height: 10rem;
}
.making_of_dish table tr td{
    padding: 1rem;
    padding-left: 1.5rem;
}
.making_of_dish table b{
    color:#7d3f1b;
    font-size: 1.3rem;
    font-family: 'Gill Sans MT';
}
