*{
    margin: 0;
    padding: 0;
    
}
@media screen and (max-width:1000px){
    html{
        font-size: 1.5vw;
    }
}
body{
    font-family: sans-serif;
}
#footer{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0%;
    color: #646464;
    font-family: serif;
    margin-bottom: 3rem;
}
#navbar ul{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    height: 8rem;
    align-items: center;
    font-size: 1.5rem;
}
#navbar #index a{
    color: black;
    font-size: 2.5rem;
    margin-right: 3rem;
    transition: 0.5s;
}
#navbar li{
    list-style: none;
    float: left;
}
#navbar a{
    text-decoration: none;
    padding: 2rem;
    color: #6a6a6a;
    transition: 0.5s;
}
main{
    display: flex;
    justify-content: center;
}
#body{
    width: 40rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#qoute{
    width: 30rem;
    font-size: 1.5rem;
}
hr{
    margin-top: 3rem;
    width: 15rem;
}
#main{
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 1.5rem;
}
img{
    width: 35rem;
    margin-top: 5rem;
    margin-left: 2rem;
}

.project_box{
    box-sizing: border-box;
    width: 30rem;
    height: 40rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    overflow:hidden;
    border: 1px solid rgb(211, 211, 211);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    flex-wrap:wrap-reverse;
}
.project_box a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project_box img{
    object-fit:contain;
    width: 30rem;
    height: 35rem;
    margin: 0;
    transition:0.5s;
}
.project_box div{
    min-height: 3rem;
    width: 31rem;
    position: relative;
    background-color:rgb(255, 255, 255) ;
    padding-left:2rem;
    padding-top: 0.5rem;
    display: flex;
    z-index: 10;
    position: relative;
    transition:1s;
    
}
.project_box a{
    color: #313131;
    text-decoration: none;
    transition:0.5s;
    
}

.project_box p{
    
    font-weight: 600;
    transition:0.5s;
    padding-bottom: 0.2rem;
}
.project_details{
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: 0 -5px 10px -10px #333;
}

p.project_tech{
    width: 30rem;
    margin-right: 0.5rem;
    color: rgb(169, 168, 168);
    font-size: 1.3rem;
    font-weight: 400;
}
.ephesis{
    color: #6be1ee;
}
.project_box:hover{
    scale: 1.1;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: none;
    box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
.project_box img:hover{
    transform: translateY(12rem);
    height: 42rem;
    width: 34rem;
}
.project_box img:hover + .project_details{
    transform: translateY(18rem);
    
}

#qoute_contact{
    font-size: 1.5rem;
}
#main_blog{
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 1.5rem;
    width: 38rem;
}
#main_blog a{
    text-decoration: none;
    color: #40cdc1;
}
.contact div{
    margin: 2rem;
    margin-bottom: 3rem;
}
.contact p{
    display: inline;
}
.contact a{
    text-decoration: none;
    color: #6be1ee;
}
#navbar li a:hover{
    color:#6be1ee;
    font-size: 1.7rem;
}
#navbar #index a:hover{
    color:#6be1ee;
    font-size: 2.7rem;
}

#main h3{
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

@media screen and (max-width:500px){
    #index{
        position: absolute;
        left: 7rem;
        top: 2rem;
    }
    #navbar ul{
        margin-top: 7rem;
        display: flex;
        justify-content: center;
        height: 8rem;
        align-items: center;
        font-size: 2rem;
        margin-left: 6rem;
    }
    #navbar #index a{
        color: black;
        font-size: 4rem;
        padding: 1rem;
        margin-left: 1rem;
    }
    #navbar li{
        list-style: none;
        float: left;
    }
    #navbar a{
        text-decoration: none;
        color: #6a6a6a;
        padding: 1rem;
        padding-right: 10.2rem;
    }
    #body{
        width: 50rem;
        padding: 5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.5rem;
    }
    #qoute{
        width: 40rem;
        font-size: 1.6rem;
    }
    img{
        width: 46rem;
        margin-top: 5rem;
        margin-left: 2rem;
        
    }
    #main{
        margin-top: 3rem;
        margin-left: 3rem;
        font-size: 1.7rem;
    }
    .project_box{
        width: 45rem;
        height: 55rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
        border-radius: 20px;
        overflow: hidden;
        border: 1px solid rgb(221, 221, 221);
        display: flex;
        justify-content: center;
        flex-wrap:wrap-reverse;
    }
    .project_box img{
        height: 45rem;
        margin: 0;

    }
    .project_box div{
        min-height: 1rem;
        width: 44rem;
        position: relative;
        background-color:rgb(255, 255, 255) ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project_box a{
        text-decoration: none;
    }
    .project_box p{
        
        color: #000;
        font-weight: 600;
        font-size: 2rem;
    }
    
    .project_details{
        display: flex;
        flex-direction: column;
        
        box-shadow: 0 -5px 10px -10px #333;
    }
    .project_name{
        padding-right: 1rem;
    }
    p.project_tech{
        margin-right: 0.5rem;
        color: rgb(169, 168, 168);
        font-size: 1.8rem;
        font-weight: 400;
    }
    .ephesis{
        color: #6be1ee;
    }
    .project_box img:hover{
        transform: translateY(16rem);
        height: 62rem;
        width: 48rem;
    }
    .project_box:hover{
        scale: 1.13;
        margin-top: 6rem;
        margin-bottom: 6rem;
        border: none;
        border-radius: 30px;
        box-shadow: none;
        box-shadow:0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    }
    #main_blog{
        margin-top: 3rem;
        margin-left: 3rem;
        font-size: 1.5rem;
        width: 40rem;
    }
    #main_blog a{
        text-decoration: none;
        color: #40cdc1;
    }
    #navbar li a:hover{
        color:#6be1ee;
        font-size: 2.2rem;
    }
    #navbar #index a:hover{
        color:#6be1ee;
        font-size: 4.2rem;
    }
}

