*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width:1000px){
    html{
        font-size: 1.5vw;
    }
}
body{
    font-family: sans-serif;
}
#footer{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0%;
    color: #646464;
    font-family: serif;
    margin-bottom: 3rem;
}
#navbar ul{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    height: 8rem;
    align-items: center;
    font-size: 1.5rem;
}
#navbar #index a{
    color: black;
    font-size: 2.5rem;
    margin-right: 3rem;
    transition: 0.5s;
}
#navbar li{
    list-style: none;
    float: left;
}
#navbar a{
    text-decoration: none;
    padding: 2rem;
    color: #6a6a6a;
    transition: 0.5s;
}
main{
    display: flex;
    justify-content: center;
}
#body{
    width: 40rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#qoute{
    width: 30rem;
    font-size: 1.5rem;
}
hr{
    margin-top: 3rem;
    width: 15rem;
}
#main{
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 1.5rem;
}
img{
    width: 35rem;
    margin-top: 5rem;
    margin-left: 2rem;
    
}
.project_box{
    width: 30rem;
    height: 40rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid rgb(182, 182, 182);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.7);
}
.project_box img{
    object-fit: cover;
    height: 35rem;
    margin: 0;
    transition:0.5s;
}
.project_box div{
    height: 4rem;
    width: 31rem;
    position: relative;
    background-color:rgb(253, 253, 253) ;
    margin-top: -3rem;
    padding:2rem;
    display: flex;
    align-items: center;
    transition:0.5s;
}
.project_box a{
    text-decoration: none;
    transition:0.5s;
}
.project_box p{
    margin: 1rem;
    color: #000;
    font-weight: 600;
    transition:0.5s;
}
.project_box img:hover{
    height: 45rem;
    width: 35rem;
}
.project_box:hover{
    width: 33rem;
    height: 42rem;
    border: none;
    border-radius: 30px;
    box-shadow: none;
}
#qoute_contact{
    font-size: 1.5rem;
}
#main_blog{
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 1.5rem;
    width: 38rem;
}
#main_blog a{
    text-decoration: none;
    color: #40cdc1;
}
.contact div{
    margin: 2rem;
    margin-bottom: 3rem;
}
.contact p{
    display: inline;
}
.contact a{
    text-decoration: none;
    color: #6be1ee;
}
#navbar li a:hover{
    color:#6be1ee;
    font-size: 1.7rem;
}
#navbar #index a:hover{
    color:#6be1ee;
    font-size: 2.7rem;
}
@media screen and (max-width:500px){
    #index{
        position: absolute;
        left: 6rem;
        top: 2rem;
    }
    #navbar ul{
        margin-top: 7rem;
        display: flex;
        justify-content: center;
        height: 8rem;
        align-items: center;
        font-size: 2rem;
    }
    #navbar #index a{
        color: black;
        font-size: 4rem;
        margin-right: 3rem;
    }
    #navbar li{
        list-style: none;
        float: left;
    }
    #navbar a{
        text-decoration: none;
        padding: 6rem;
        color: #6a6a6a;
    }
    #body{
        width: 50rem;
        padding: 5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.5rem;
    }
    #qoute{
        width: 40rem;
        font-size: 1.6rem;
    }
    img{
        width: 45rem;
        margin-top: 5rem;
        margin-left: 2rem;
        
    }
    #main{
        margin-top: 3rem;
        margin-left: 3rem;
        font-size: 1.7rem;
    }
    .project_box{
        width: 45rem;
        height: 55rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
        border-radius: 20px;
        overflow: hidden;
        border: 2px solid rgb(182, 182, 182);
        display: flex;
        justify-content: center;
    }
    .project_box img{
        object-fit:cover;
        height: 45rem;
        margin: 0;

    }
    .project_box div{
        height: 1rem;
        width: 41rem;
        position: relative;
        background-color:rgb(255, 255, 255) ;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project_box a{
        text-decoration: none;
    }
    .project_box p{
        margin: 1rem;
        color: #000;
        font-weight: 600;
        font-size: 2rem;
    }
    .project_box img:hover{
        height: 66rem;
        width: 54rem;
    }
    .project_box:hover{
        width: 50rem;
        height: 65rem;
        border: none;
        border-radius: 30px;
        box-shadow: none;
    }
    #main_blog{
        margin-top: 3rem;
        margin-left: 3rem;
        font-size: 1.5rem;
        width: 40rem;
    }
    #main_blog a{
        text-decoration: none;
        color: #40cdc1;
    }
}

